
	.row{
		display: flex;
		flex-wrap: wrap;	
	}

    .catalog-item{
        &_name h1{
            font-size: 36px;
            font-weight: normal;
            line-height: 110%;
            padding: 10px 0 4px 0;
            margin-bottom: 10px;
        }

        &_picture{
            margin-bottom: 10px;
            .img{
                border: 1px solid #ddd;
                max-width: 450px;
                padding: 10px;
                margin: auto;         
                img{
                    width: 100%;
                    object-fit: cover;
                    transition: all .25s ease-out;
                }
            }
            .img:hover{
                border: 1px solid rgb(47, 47, 47);
                transition:all .45s ease-out !important;
            }
        }

        &_price{
            margin-bottom: 10px;
            .price{
                font-size: 20px;
                &-roz{

                }

                &-opt{

                }
            }

            .order{
                margin: 10px 0;
            }
        }

        &_desc{
            text-align: justify;
            .catalog-item_slider-wrap{
                margin-bottom: 10px;
            }

        }

    }

    .form{
        border: 1px solid #ddd;
        padding: 10px;
    }

