header {
	position:fixed;
	left:0;
	width:100%;
	top:0;
	z-index:50;
	border-bottom:1px solid #EAEAEA;
	background: #FFCD66 0 0 repeat-x;
	.header-inner {
		display:flex;
		justify-content: space-between;
		height: 120px;
	}
	.logo-wrap {
		flex:0 0 158px;
		display:flex;
		align-items: center;
		position:relative;
		width:158px;
		text-decoration:none !important;
		.logo {
			width:158px;
			height:48px;
			position:relative;
			img,svg {
				width:100%;
				display:block;
			}
		}
	}
}

.header-menu{
	font-family: 'Cuprum',Arial,Helvetica,sans-serif;
	background-color: #484747;
	a{
		padding: 0 15px;
		margin: 0;
		line-height: 40px;
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.nav-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	  }
	  
	.nav-content a {
		color: black;
		text-decoration: none;
		display: block;
	}
	.nav-content a:hover {background-color: #ddd;}

	.nav-item:hover .nav-content {display: block;}

	.nav-item:hover .nav-item {background-color: #3e8e41;}
}


.header-feedback {
	display:flex;
	align-items: center;
	position:relative;
    justify-content: center;

	ul{
		margin-bottom: unset;
	}

	li.fback {
		list-style-image: url(../amaro/i/fback.png);
		color: red;
		padding-inline-start: 0.5ch;
		padding: unset;
	}
	li.email {
		list-style-image: url(../amaro/i/email.png);
		color: red;
		padding-inline-start: 0.5ch;
		padding: unset;
	}
	a{
		color: red;
		font-weight: 400;
		font-size: 16px;
	}

	
}
.header-social-icons {
	display:flex;
	align-items: center;
	position:relative;
    justify-content: center;
	.header-social-icon{
		width: 33px;
		margin-right: 5px;
	}

}
.header-phones {
	display:flex;
	align-items: center;
	position:relative;
	flex-direction: column;
    justify-content: center;
	a{
		font-weight: 400;
		color: black;
		font-size: 18px;
	}
}
.header-infoRight {
	display:flex;
	align-items: center;
	position:relative;
	flex-direction: column;
    justify-content: center;

	.phone a{
		font-size: 25px;
		color: black;
	}
	.popUp a{
		font-size: 16px;
		color: red;
		font-weight: bold;
	}

}


.mobimenu {
	font-family: 'Cuprum',Arial,Helvetica,sans-serif;
	position:fixed;
	z-index:10000;
	width:100%;
	max-width:360px;
	right:0;
	top:0;
	height:100vh;
	background: #F8F8F8;
	overflow:hidden;
	transition:all .25s ease-out !important;
	transform:translateX(100%);
	&.active {
		transform:none;
		box-shadow: 0 0 15px rgba(0,0,0,0.5);
	}
	&__header {
		position:absolute;
		left:0;
		right:0;
		top:0;
		z-index:1;
		background: #F8F8F8;
		height:83px;
		padding:0 16px;
		&:after {
			content:'';
			display:block;
			position:absolute;
			left:16px;
			right:16px;
			bottom:0;
			height:1px;
			background: #EAEAEA;
		}
	}
	&__title {
		font-family:'Inter','Montserrat', 'Helvetica', 'Arial', sans-serif;
		font-weight: 600;
		font-size:2rem;
		color: #363333;
		padding-top:19px;
	}
	&__close {
		display:flex;
		position:absolute;
		right:9px;
		top:16px;
		width:40px;
		height:40px;
		color: #757575;
		font-size:26px;
		justify-content: center;
		align-items: center;
	}
	&__inner {
		padding:82px 16px 0 16px;
		height:100vh;
		overflow:auto;
		display:flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__toppart {
		padding-bottom:48px;
	}
	.creators {
		padding:26px 0 24px 0;
		text-align:right;
	}
	.mobi-nav {
		margin:0;
		padding:0;
		list-style:none;
		border-top:1px solid #EAEAEA;
		.nav-item {
			border-bottom:1px solid #EAEAEA;
			.nav-link {
				display:flex;
				align-items: center;
				width:100%;
				position:relative;
				line-height:1.2;
				text-transform:uppercase;
				color:#363333;
				font-weight:500;
				padding:0;
				min-height:49px;
				&:after {
					font-family: 'icomoon' !important;
					content: '\e903';
					position:absolute;
					right:0;
					top:50%;
					transform:translateY(-50%);
					font-size:18px;
					color:#E43636;
					line-height:1;
				}
				.menu-icon {
					display:flex;
					align-items: center;
					width:24px;
					flex:0 0 24px;
					height:24px;
					color:#E43636;
					.icon-place {font-size:17px}
					.icon-user {font-size:18px}
					.icon-phone {font-size:14px}
				}
				&.mobimenu-phone {
					justify-content: space-between;
					white-space:nowrap;
					min-height:57px;
					&:after {display:none}
					.phone-desc {
						flex-grow:1;
						text-align:right;
						font-weight: 500;
						font-size:0.929rem;
						line-height: 16px;
						text-transform:none;
						white-space:normal;
					}
				}
			}
			a.nav-link {
				&:hover {
					color:#017DD9;
				}
			}
			&.active {
				.nav-link {
					color:#017DD9;
					a.nav-link {
						&:hover {
							color:#E43636;
						}
					}
				}
			}
		}
	}
	.submenu {
		position:fixed;
		z-index:20000;
		width:100%;
		max-width:360px;
		right:0;
		top:0;
		height:100vh;
		background: #F8F8F8;
		overflow:hidden;
		transition:all .25s ease-out !important;
		transform:translateX(100%);
		&.active {
			transform:none;
			box-shadow: 0 0 15px rgba(0,0,0,0.5);
		}
		&__header {
			position:absolute;
			left:0;
			right:0;
			top:0;
			z-index:1;
			background: #F8F8F8;
			height:83px;
			padding:0 16px;
			&:after {
				content:'';
				display:block;
				position:absolute;
				left:16px;
				right:16px;
				bottom:0;
				height:1px;
				background: #EAEAEA;
			}
		}
		&__title {
			font-family:'Inter','Montserrat', 'Helvetica', 'Arial', sans-serif;
			font-weight: 600;
			font-size:1.429rem;
			color: #363333;
			padding:0 0 0 40px;
			display:flex;
			height:82px;
			align-items: center;
			line-height:1.2;
			a {
				color: #363333;
			}
		}
		&__back {
			display:flex;
			position:absolute;
			left:8px;
			top:20px;
			width:40px;
			height:40px;
			color:#E43636;
			font-size:17px;
			justify-content: center;
			align-items: center;
		}
		.mobi-nav {
			padding:83px 16px 48px 16px;
			border-top:0;
			height:100vh;
			overflow:auto;
			.nav-item {
				.nav-link {
					&:after {display:none}
				}
			}
		}
	}
}
.mobi-menu-active {overflow:hidden;}

.nav-btn-mobile {
	display:none;
	height:34px;
	width:33px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
	border-radius:0;
	text-decoration:none !important;
	z-index:20;
	position:relative;
	margin:43px 0 0 15px;
	span {
		display:block;
		position:absolute;
		top:16px;
		left:4px;
		right:4px;
		height:2px;
		background:#363333;
		-webkit-transition:background 0s 0.3s;
		transition:background 0s 0.3s;
		&::before,&::after{
			position:absolute;
			display:block;
			left:0;
			right:0;
			height:2px;
			background-color:#363333;
			content:"";
			-webkit-transition-duration:0.3s,0.3s;
			transition-duration:0.3s,0.3s;
			-webkit-transition-delay:0.3s,0s;
			transition-delay:0.3s,0s;
		}
		&::before{
			top:-7px;
			-webkit-transition-property:top,-webkit-transform;
			transition-property:top,transform
		}
		&::after{
			bottom:-7px;
			-webkit-transition-property:bottom,-webkit-transform;
			transition-property:bottom,transform;
		}
	}
	/*&.nav-close {
		span{
			background:none !important;
			&::before{
				top:0;
				-webkit-transform:rotate(45deg);
				-ms-transform:rotate(45deg);
				transform:rotate(45deg)
			}
			&::after{
				bottom:0;
				left:0;
				-webkit-transform:rotate(-45deg);
				-ms-transform:rotate(-45deg);
				transform:rotate(-45deg)
			}
			&::before,&::after{
				-webkit-transition-delay:0s,0.3s;
				transition-delay:0s,0.3s;
				right:0;
			}
		}
	}*/
}


@media (max-width: 1399.98px) {
	
}

@media (max-width: 1350px) {

}

@media (max-width: 1229.98px) {
	
}
@media (max-width: 1024.98px) {
}
@media (max-width: 980px) {
	.header-phones{
		display: none;
	}
	.nav-btn-mobile {
		display:block;
	}
	.header-menu {
		display:none
	}
	
}
@media (max-width: 768.98px) {
	.header-social-icons{
		display: none;
	}
	
}

@media (max-width: 640.98px) {
	.header-infoRight{
		display: none;
	}
	.header-feedback{
		a{
			font-size: 13px;
		}
	}
}

@media (max-width: 575.98px) {
	
}
@media (max-width:480px) {
}
@media (max-width:360px) {
	header {
		.logo-wrap {
			flex:0 0 126px;
			width:126px;
			padding-top:20px;
			.logo {
				width:126px;
			}
		}
	}
	.header-profile {display:none}
}
@media (max-width:359px) {
	.mobimenu {
		.mobi-nav {
			.nav-item {
				.nav-link {
					&.mobimenu-phone {
						.phone-desc {
							font-weight:normal;
							font-size:0.8rem;
							color:#000;
						}
					}
				}
			}
		}
	}
}